@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&display=swap');
:root{
    color-scheme: dark;
  }
.turbolinks-progress-bar {
    background-color: #FF6625;
  } /*hope it even works lol*/

body{
    background-color: rgb(29, 29, 29);
    font-family: 'Encode Sans Condensed', sans-serif;
}
li {
  list-style-type: none; 
}
a {
  color: #f2f2f2
}
.link {
    color: #246fd1;
  }

/*content box*/
.content {
    background-color: #222;
    padding: 18px;
    min-height: 120px;
    margin-top: 30px;
    border-radius: 15px;
    text-align: center;
 }
@media(min-width:800px) {
.content {
         width: 70%;
         margin: 0 auto;
         margin-top: 30px;
    }
  }
@media(max-width:800px) {
.content {
      width: 90%;
    }
  }

/*profile pic on aboutme*/
.avatar {
  border-radius: 50%;
  display: inline-block;
}
.right {
  float: right;
  padding: 5px;
  margin-right: 150px;
}
img:not(.noround), video {
  border-radius: 10px;
}

