---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About me">
  <h1>About me</h1>
  <br><br>
  <div style="text-align: left;margin-left:200px;">
  Hello my name is Yannik.<img src="https://avatars.githubusercontent.com/u/80621863" class="avatar right noround" height="120" alt=""><br>
    I'm  18 years old and I live in Germany.<br>
    I do a lot of things on the internet. I play video games and make music.<br>
    Mostly i modify games or make servers for them instead of actually playing them.<br> 
    I also program in my free time. The important stuff happens on my <a class="link" href="https://github.com/cmod31/">GitHub</a>.<br>
    Hopefully I can use this about site to get a job or something so <br>
  </div>
    <br>
	  I do:
    <br><br>
    <li><i class="fa fa-csharp"></i> C-Sharp<br></li>
    <br>
    <li><i class="fa fa-html5"></i> HTML<br></li>
    <br>
    <li><i class="fa fa-css3"></i> CSS<br></li>
    <br>
    <li><i class="fa fa-flask"></i> JavaScript<br></li>
    <br>
    <li><i class="fa fa-camera"></i> Photography<br></li>
    <br>
    <li><i class="fa fa-file-photo-o"></i> Graphic Editing<br></li>
    <br>
    <li><i class="fa fa-file-video-o"></i> Video Editing<br></li>
    <br>
    <li><i class="fa fa-file-audio-o"></i> Audio Editing<br></li>
    <br>
  <a href="/contact"><button class="b7" style="width:180px">Contact</button></a>
</BaseLayout>