---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Icon } from 'astro-icon'
---
<BaseLayout title="About me">
  <h1>About me</h1>
  <br>
  <img src="https://avatars.githubusercontent.com/u/80621863" class="ghavatar right noround" height="100vw"><br>
   <p>
    Hello my name is Yannik.
    I'm  18 years old and I live in Germany.<br>
    I do a lot of things on the internet. I play video games and make music.<br>
    Mostly i modify games or make servers for them instead of actually playing them.<br> 
    I also program in my free time. The important stuff happens on my <a class="link" href="https://github.com/cmod31/">GitHub</a>.<br>
    Hopefully I can use this about site to get a job or something so <br>
   </p>
  <br>
  <div style="text-align: center;">
	  I do:
    <br><br>
    <style>li{list-style-type: none;}</style>
    <li><Icon name="icomoon-free:html-five" style="width:18px"/>&nbsp HTML<br></li>
    <br>
    <li><Icon name="cib:css3" style="width:18px"/>&nbsp CSS<br></li>
    <br>
    <li><Icon name="teenyicons:c-sharp-solid" style="width:18px"/>&nbsp C-Sharp<br></li>
    <br>
    <li><Icon name="ps:wordpress" style="width:18px"/>&nbsp WordPress<br></li>
    <br>
    <li><Icon name="fluent:javascript-16-filled" style="width:18px"/>&nbsp JavaScript<br></li>
    <br>
    <li><Icon name="carbon:camera" style="width:18px"/>&nbsp Photography<br></li>
    <br>
    <li><Icon name="clarity:picture-outline-badged" style="width:18px"/>&nbsp Graphic Editing<br></li>
    <br>
    <li><Icon name="clarity:video-gallery-line" style="width:18px"/>&nbsp Video Editing<br></li>
    <br>
    <li><Icon name="cil:audio-spectrum" style="width:18px"/>&nbsp Audio Editing<br></li>
    <br>
  <a href="/contact"><button class="b7" style="width:180px">Contact</button></a>
  </div>
</BaseLayout>