---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Contact">
<h1> Contact & Socials </h1>
      <br><br>
      <a href="mailto:business@vaporvee.com" target="_blank"><button class="b1" style="width:270px"><i class="fa fa-email-bulk"></i> Business E-Mail</button></a> 
      <br><br>
      <a href="https://github.com/cmod31/" target="_blank"><button class="b2" style="width:270px"><i class="fa fa-github"></i> GitHub</button></a>
      <br><br><br>
      <a href="https://discord.gg/c93vs7asHU" target="_blank"><button class="b3" style="width:215px"><i class="fa fa-discord-alt"></i> Discord</button></a>
      <br><br>
      <a href="https://twitch.tv/vaporvee/" target="_blank"><button class="b4" style="width:215px"><i class="fa fa-twitch"></i> Twitch</button></a>     
      <br><br>
      <a href="https://www.youtube.com/channel/UCTXl8LO9SqSTY3VGQFoWsdA" target="_blank"><button class="b5" style="width:215px"><i class="fa fa-youtube-play"></i> YouTube</button></a>     
      <br><br>
      <a href="https://gamebanana.com/members/1732039" target="_blank"><button class="b8" style="width:215px"><i class="fa fa-file-archive-o"></i> Gamebanana</button></a>     
      <br><br>
      <a href="https://vaporvee.com/onlyfans" target="_blank"><button class="b6" style="width:215px" onclick="snd.play()"><i class="fa fa-lock"></i> OnlyFans</button></a>
      <script rel="text/javascript">
        var snd = new Audio("/gnome.wav"); 
      </script>     
      <br><br>
</BaseLayout>