---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';
---
<BaseLayout title="Home">
  <h1> Welcome to my website! </h1>
  <p>
  My name is Yannik. <br> 
  This is my personal site with my <a href="/contact">links</a>, something <a href="/aboutme" >about me</a> and some extra stuff.<br>
  If you are looking for them I have also some non GitHub <a href="/projects">projects</a> here.<br>
  This website is also new so there is not much here. I put anything I want on this website.
  <br><br>
  This website is highly work in progress and there will be a much better design soon.<br>
  I'll just copy the old code first and adapt it to "Atsro".<br>
  <br>
  </p>
  <Markdown style="text-align: left;">
<br>
<br>

  ### Tasklist

* [x] Adapted everything to Astro
* [ ] Better homepage wich doesn't look like the other pages
* [ ] Better about me
* [x] Blog
  </Markdown>
  <br><br>
</BaseLayout>