---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Home">
  <p>
  <h1> Welcome to my website! </h1>
  My name is Yannik. <br> 
  This is my personal site with my <a href="/contact" class="link">links</a>, something <a href="/aboutme" class="link">about me</a> and some extra stuff.<br>
  If you are looking for them I have also some non GitHub <a href="/projects" class="link">projects</a> here.<br>
  This website is also new so there is not much here. I put anything I want on this website.
  <br><br>
  This website is highly work in progress and there will be a much better design soon.<br>
  I'll just copy the old code first and adapt it to "Atsro".
  </p>
  <br><br>
<br><br>
</BaseLayout>