<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>MCWar 4 Alternative</title>
	<link rel="icon" type="image/x-icon" href="/mcwar.ico" />
</head>
<style>
    body{
        text-align: center;
        padding-top: 20%;
        font-family: Helvetica, Arial, sans-serif;
    }
    button {
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
    }
    button:hover{
        background-color: #217fdd;
    }
</style>
<body>
    <h1>Jetzt mit Server Map Downloader für Singleplayer</h1>
    Weil viele unzufrieden mit dem Viren Launcher von Beta waren,<br>
    gibt es hier eine etwas verbesserte version für das Modpack.<br>
    Das Programm ist jetzt vollständig fertig und somit von Microsoft zugelassen!<br><br>
    <a src="http://content.vaporvee.com/MCWar4Final.exe"><button>Download</button></a>
</body>