---
const currentYear = new Date().getFullYear();
---
<style>
  main {
    width: 100%;
    background-color: rgba(36, 36, 36, 0.9);;
    color: white;
    text-align: center;
    margin-top: auto;
  }
  main a{
      color: white;
  }
</style>
<footer>
  <br>
  &copy; 2021-{currentYear}, vaporvee.
  <br><br>
  <a href="https://donate.vaporvee.com/">Donate</a> - <a href="https://status.vaporvee.com">Server Status</a> - <a href="https://github.com/cmod31/my-website">Sourcecode</a>
  <br><br>
</footer> 