---
const currentYear = new Date().getFullYear();
const copyrightPrefix = (currentYear > 2021) ? '2021-' : '';
---
<style>
  main {
    position: fixed;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.9);;
    color: white;
    text-align: center;
    left: 0;
    bottom: 0;
    margin-top: 2%;
  }
  main a{
      color: white;
  }
</style>
<main>
  <br>
  &copy; {copyrightPrefix}2022, vaporvee.
  <br><br>
  <a href="https://donate.vaporvee.com/">Donate</a> - <a href="https://status.vaporvee.com">Server Status</a> - <a href="https://github.com/cmod31/my-website">Sourcecode</a>
  <br><br>
</main> 