---
const currentSite = Astro.canonicalURL.pathname
---

<style>
  main {
    background-color: #333;
    border-radius: 15px;
    overflow: hidden;
  } 
  main a{
        float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Helvetica";
  }
  main > a.logo {
    float: left;
    padding:0;
    padding-left:16px;
    padding-right:16px;
    padding-top:7px;
  }
  main a:hover:not(.logo) {
    color: #ccc;
  }
  main a.active {
    text-decoration: underline;
  }
</style>

<main>
  <a href="/" class="logo"><img src="/vlogo.png" ></a>
  <a href="/projects" class={(currentSite == '/projects/') ? "active" : ""}>Projects</a>
  <a href="/contact" class={(currentSite == '/contact/') ? "active" : ""}>Contact</a>
  <a href="/aboutme" class={(currentSite == '/aboutme/') ? "active" : ""}>About me</a>
  <a href="/" class={(currentSite == '/') ? "active" : ""}>Home</a>
</main> 
