---
const currentSite = Astro.canonicalURL.pathname
---

<style>
  main {
    background-color: #333;
    border-radius: 15px;
    overflow: hidden;
  } 
  main a{
        float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Helvetica";
  }
  main > a.logo {
    float: left;
    padding:0;
    padding-left:16px;
    padding-right:16px;
    padding-top:7px;
  }
  main a:hover:not(.logo) {
    color: #ccc;
  }
  main a.active {
    text-decoration: underline;
  }
</style>

<main>
  <a href="/" class="logo"><img src="/vlogo.png" ></a>
  {(currentSite == '/projects/') ? <a href="/projects" class="active">Projects</a> : <a href="/projects">Projects</a>}
  {(currentSite == '/contact/') ? <a href="/contact" class="active">Contact</a> : <a href="/contact">Contact</a>}
  {(currentSite == '/aboutme/') ? <a href="/aboutme" class="active">About me</a> : <a href="/aboutme">About me</a>}
  {(currentSite == '/') ? <a href="/" class="active">Home</a> : <a href="/">Home</a>}
</main> 
