---
const currentSite = Astro.canonicalURL.pathname
---

<style>
  header {
    background-color: #333;
    border-radius: 15px;
    margin: 8px;
  } 
  header a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 115%;
    font-family:monospace;
  }
  header > a.logo {
    float: left;
    padding: 0;
    padding-left:15px;
    padding-top:7px;
  }
  .logo{
    width: 7%;
  }
  header a:hover:not(.logo,.active) {
    color: #ccc;
  }
    header a:hover:not(.logo)::before {
    position: fixed;
    content: ">";
  }
  header a.active {
    color:#FF6625;
  }

    @media(max-width:800px) {
    header a{
      display:block;
    }
    .logo{
      width: 25%;
      position: absolute;
      float: none;
     }
    header a{
      float: none;
      color: #f2f2f2;
      padding:0px 0px;
      padding-top:7px;
      font-size: 14px;
      margin: 2px;
     }
     .revert{  /*This is horrible code but it works*/
      display: flex;
      flex-direction: column-reverse;
     }
  }
</style>
<header>
  <a href="/" class="logo"><img src="/vlogo-r.svg" ></a>
  <div class="revert">
  <a href="/blog" class={(currentSite.startsWith('/blog/')) ? "active" : ""}>&nbsp Blog</a>
  <a href="/contact" class={(currentSite == '/contact/') ? "active" : ""}>&nbsp Contact</a>
  <a href="/aboutme" class={(currentSite == '/aboutme/') ? "active" : ""}>&nbsp About me</a>
  <a href="/" class={(currentSite == '/') ? "active" : ""}>&nbsp Home</a>
  </div>
</header> 