---
// Style Imports
import '../styles/global.css';
import '../styles/buttons.css';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
let { title } = Astro.props
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
	<title>{title} | vaporvee's Website</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
	<Nav />
	<div class="content-box" >
	<slot />
	</div>
	<Footer />
</body>
</html>
