---
let { url } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="0; url={url}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
    <style>
        body {
            font-family:sans-serif;
            background-color: rgb(26, 26, 26);
        }
        a{
            color: rgb(41, 41, 41);
        }
    </style>
</head>
<body>
    <p><a href="{url}">Redirect</a></p>
</body>
</html>